@import "tailwindcss";

@theme{
  --color-slate-850: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
  --color-emerald-450: #10b981;
}

/* Your custom scrollbar logic from index.html */
@layer base {
  body {
    background-color: #0f172a;
    color: #f8fafc;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #1e293b; 
  }
  ::-webkit-scrollbar-thumb {
    background: #475569; 
    border-radius: 4px;
  }
}